<div class="w-full h-full flex flex-nowrap">
  <div class="banner w-1/2">
    <div class="p-6 mt-8 z-1 relative">
      <div class="font-bold text-[32px] text-white">do not have an account?</div>
      <!-- <div class="font-medium text-[20px] text-white mt-4">Click here to log in!</div> -->
      <button class="mt-4 w-[6rem]" nz-button nzType="primary" (click)="onRegister()">register</button>
    </div>
  </div>

  <div class="w-1/2 p-6 mt-8">
    <span class="font-bold text-[32px] text-slate-800">log in</span>
    <div class="mt-4">
      <form nz-form [formGroup]="authenticateForm"> 
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="emailPrefixTemplate">
              <input type="text" nz-input placeholder="email address" formControlName="emailAddress" />
            </nz-input-group>
            <ng-template #emailPrefixTemplate><fa-icon class="mr-2" nz-icon icon="envelope"></fa-icon></ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="passwordPrefixTemplate">
              <input type="password" nz-input placeholder="password" formControlName="password" />
            </nz-input-group>
            <ng-template #passwordPrefixTemplate><fa-icon class="mr-2" nz-icon icon="lock"></fa-icon></ng-template>
          </nz-form-control>
        </nz-form-item>

        <button class="w-full" nz-button nzType="primary" (click)="onLogIn()">log in</button>
      </form>
    </div>

  </div>
</div>