<main>
  <div class="flex flex-nowrap w-full">
    <div class="w-1/4 min-h-[500px] flex gap-2 flex-col border-solid border-[#B35340] border-2">
      <div class="w-full flex justify-center items-center mb-4 mt-4">
        <nz-avatar [nzSize]="128" nzIcon="user"></nz-avatar>
      </div>
      <button class="menu-text">
        <fa-icon class="mr-2" nz-icon icon="tag"></fa-icon>
        my profile
      </button>
      <div class="menu-text">
        <fa-icon class="mr-2" nz-icon icon="tag"></fa-icon>
        my reservations
      </div>
      <button class="menu-text">
        upcoming
      </button>
      <button class="menu-text">
        historical
      </button>
    </div>

    <div class="flex justify-center w-full">
      <div class="p-6 flex flex-col">
        <span class="w-full font-bold text-[32px] text-slate-800">my profile</span>
        <div class="mt-4">
          <form nz-form [formGroup]="profileForm">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzPrefix]="conditionsPrefixTemplate">
                  <input nz-input placeholder="name" nzBorderless nzAutosize formControlName="name" />
                </nz-input-group>
                <ng-template #conditionsPrefixTemplate><fa-icon class="mr-2" nz-icon
                    icon="note-sticky"></fa-icon></ng-template>
              </nz-form-control>
            </nz-form-item>

            <!-- <div class="flex flex-nowrap">
                  <button class="w-full" nz-button nzType="default" (click)="onPrev()">previous</button>
                  <button class="w-full" nz-button nzType="primary"
                    (click)="createBusinessListingSpecialConditions()">next</button>
                </div> -->
          </form>
        </div>
      </div>
    </div>

  </div>
</main>