<div class="search-bar">
  <nz-input-group [nzSuffix]="inputClearTpl">
    <input nz-input nzSize="large" type="text" [nzAutocomplete]="auto" [(ngModel)]="searchValue"
      (input)="searchByOutletName($event)" (click)="searchByOutletName($event)" placeholder="Search for a Restaurant Name"/>
  </nz-input-group>
  <nz-select *ngIf="atHomePage" nzShowSearch nzAllowClear nzPlaceHolder="Select a Cuisine" [(ngModel)]="cuisineValue" 
    (ngModelChange)="cuisineCallSearchByOutletName()">
    <nz-option *ngFor="let cuisine of cuisineList" [nzValue]="cuisine.id" [nzLabel]="cuisine.cuisine"></nz-option>
  </nz-select>
  <button nz-button nzSize="large" nzType="primary" (click)="routeToSearchFilterListings()">search</button>
</div>
<ng-template #inputClearTpl>
  <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="searchValue"
    (click)="clearSearchValue()"></span>
</ng-template>
<nz-autocomplete #auto [nzBackfill]="true">
  <nz-auto-option *ngFor="let searchResult of searchResults" [nzValue]="searchResult.id"
    [nzLabel]="searchResult.outletName" (click)="routeToViewRestaurant()" routerLink="/reservation/{{searchResult.id}}">
    <img class="search-img"
    src="../../../assets/images/restaurants-logos/restaurant-{{searchResult.id}}.jpg">
    <div>
      <span>{{ searchResult.outletName }}</span>
      <span>{{ searchResult.address }}</span>
    </div>
  </nz-auto-option>
</nz-autocomplete>