<footer>
  <div class="hero-banner">
    <div class="hero-content">
      <h1>own a restaurant? join us</h1>
      <nz-divider style="background-color: #f2d91c;"></nz-divider>
      <h3 style="font-weight: normal;">
        Looking to fill those empty seats, especially during those times when you're not as busy? We are a restaurant
        reservation platform which offers time-based discounts of up to 50% off, every day at all of its 4000+
        restaurants.
      </h3>
    </div>
  </div>
  <div style="height: 100px; background-color: #B35340;"></div>
</footer>