<footer>
  <div class="hero-banner">
    <div class="hero-content">
      <h1>own a restaurant? join us</h1>
      <nz-divider class="bg-[#FDC827] text-[20px]"></nz-divider>
      <h2 class="font-normal text-[20px]">
        Looking to fill those empty seats, especially during those times when you're not as busy? We are a restaurant
        reservation platform which offers time-based discounts of up to 50% off, every day at all of its 4000+
        restaurants.
      </h2>
    </div>
  </div>
  <div class="h-[250px] bg-[#B35340] py-12 px-20">
    <div class="w-full flex">
      <div class="w-1/4">
        <div class="footer-header">for diners</div>
        <div class="flex flex-wrap gap-2 mt-4">
          <a class="w-full">reservations</a>
          <a class="w-full">terms & conditions</a>
          <a class="w-full">faq</a>
        </div>
      </div>
      <div class="w-1/4">
        <div class="footer-header">for restaurants</div>
        <div class="flex flex-wrap gap-2 mt-4">
          <a class="w-full">restaurant listing</a>
        </div>
      </div>
      <div class="w-1/4">
        <div class="footer-header">more</div>
        <div class="flex flex-wrap gap-2 mt-4">
          <a class="w-full">about us</a>
          <a class="w-full">contact us</a>
          <a class="w-full">careers</a>
        </div>
      </div>
      <div class="w-1/4">
        <div class="footer-header">download our app</div>
        <div class="flex mt-4">
          <img src="../../../assets/images/misc/download.png" class="w-[150px]">
        </div>
      </div>
    </div>
  </div>
</footer>