<footer>
  <div class="h-[250px] bg-[#B35340] py-12 px-20">
    <div class="w-full flex">
      <div class="w-1/4">
        <div class="footer-header">for diners</div>
        <div class="flex flex-wrap gap-2 mt-4">
          <a class="w-full">reservations</a>
          <a class="w-full">terms & conditions</a>
          <a class="w-full">faq</a>
        </div>
      </div>
      <div class="w-1/4">
        <div class="footer-header">for restaurants</div>
        <div class="flex flex-wrap gap-2 mt-4">
          <a class="w-full">restaurant listing</a>
        </div>
      </div>
      <div class="w-1/4">
        <div class="footer-header">more</div>
        <div class="flex flex-wrap gap-2 mt-4">
          <a class="w-full">about us</a>
          <a class="w-full">contact us</a>
          <a class="w-full">careers</a>
        </div>
      </div>
      <div class="w-1/4">
        <div class="footer-header">download our app</div>
        <div class="flex mt-4">
          <img src="../../../assets/images/misc/download.png" class="w-[150px]">
        </div>
      </div>
    </div>
  </div>
</footer>