<main class="container mx-auto px-3 py-6">
    <app-search-filter-bar [atSearchPage]="true" (searchButtonClicked)="searchListings($event)" [searchValue]="searchValue? searchValue : ''"></app-search-filter-bar>
    <nz-divider></nz-divider>
    <div nz-row nzGutter="24">
        <!-- Filters -->
        <div nz-col nzSpan="8">
            <nz-card class="filter-card">
                <h1>Filter</h1>
                
                <h2>Discounts</h2>
                <nz-slider nzRange nzDots [nzMarks]="marks" [(ngModel)]="discountFilter" [nzTooltipVisible]="'never'" (ngModelChange)="searchListings()"></nz-slider>

                <h2 class="pt-3">Cuisines</h2>
                <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()">Select All</label>
                <nz-checkbox-group [(ngModel)]="checkOptions" (ngModelChange)="searchListings()"></nz-checkbox-group>
            </nz-card>
        </div>
        <!-- Search Listings -->
        <div nz-col nzSpan="16" class="search-listing-container">
            <div class="search-listing-sort">
                <span>Sort by: </span>
                <div class="sort-button" *ngFor="let sort of tableQueryParams.sort; let i = index" (click)="onParamsChange(i)">
                    <span>{{ sortParams[i].name | titlecase }}</span>
                    <div>
                        <i nz-icon nzType="caret-up" nzTheme="fill" [class]="sort.value === 'ascend'? 'selected' : ''"></i>
                        <i nz-icon nzType="caret-down" nzTheme="fill" [class]="sort.value === 'descend'? 'selected' : ''"></i>
                    </div>
                </div>
            </div>
            <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} of {{ total }}
            </ng-template>
            <nz-table #searchTable [nzShowTotal]="rangeTemplate" [nzData]="searchListingList" [(nzPageIndex)]="tableQueryParams.pageIndex" 
                [(nzPageSize)]="tableQueryParams.pageSize" nzPaginationPosition="both" [nzTotal]="total" [nzNoResult]="noResultTemplate">
                <tbody>
                    <tr *ngFor="let searchListing of searchTable.data" class="business-listing-container" routerLink="/reservation/{{searchListing.id}}">
                        <img class="search-img" src="../../../assets/images/restaurants-logos/restaurant-{{searchListing.id}}.jpg">
                        <div class="card-details">
                            <div>{{ searchListing.outletName }}</div>
                            <div>{{ searchListing.address }}</div>
                        </div>
                    </tr>
                </tbody>
            </nz-table>
            <!-- <div *ngFor="let searchListing of searchListingList" class="business-listing-container" routerLink="/reservation/{{searchListing.id}}">
                <img class="search-img" src="../../../assets/images/restaurants-logos/restaurant-{{searchListing.id}}.jpg">
                <div class="card-details">
                    <div>{{ searchListing.outletName }}</div>
                    <div>{{ searchListing.address }}</div>
                </div>
            </div> -->
            <ng-template #noResultTemplate>
                <nz-card *ngIf="searchListingList.length === 0">
                    Please search for a relevant restaurant</nz-card>
            </ng-template>
        </div>
    </div>
</main>