<main>
  <div class="hero-banner">
    <div class="hero-content">
      <h1>uncle got discount</h1>

      <div class="search-bar">
        <input nz-input nzSize="large" type="text"/>
        <button nz-button nzSize="large" nzType="primary">search</button>
      </div>
    </div>

    <nz-carousel nzAutoPlay="true" nzDots="false" nzEnableSwipe="false">
      <div nz-carousel-content class="carousel-item">
        <img src="../../assets/images/banners/banner-1.jpg" alt="Banner 1"/>
      </div>
      <div nz-carousel-content class="carousel-item">
        <img src="../../assets/images/banners/banner-2.jpg" alt="Banner 1"/>
      </div>
      <div nz-carousel-content class="carousel-item">
        <img src="../../assets/images/banners/banner-3.jpg" alt="Banner 1"/>
      </div>
    </nz-carousel>
  </div>
</main>