<main>
  <div class="hero-banner">
    <div class="hero-content">
      <h1>uncle got discount</h1>
      <app-search-filter-bar></app-search-filter-bar>
    </div>

    <nz-carousel nzAutoPlay="true" nzDots="false" nzEnableSwipe="false">
      <div nz-carousel-content class="carousel-item">
        <img src="../../assets/images/banners/banner-1.jpg" alt="Banner 1" />
      </div>
      <div nz-carousel-content class="carousel-item">
        <img src="../../assets/images/banners/banner-2.jpg" alt="Banner 2" />
      </div>
      <div nz-carousel-content class="carousel-item">
        <img src="../../assets/images/banners/banner-3.jpg" alt="Banner 3" />
      </div>
    </nz-carousel>
  </div>

  <section class="p-6">
    <p class="text-xl inline-block font-medium border-b border-orange-600 pb-1">restaurants</p>

    <div nz-row class="custom-list-wrapper py-3 " nzGutter="16" id="slider-1">
      <button (click)="slideChange(1, 'slider-1')" nzSize="large" nz-button nzShape="circle"
        class="custom-list-btn custom-list-right-btn">
        <span nz-icon nzType="right" nzTheme="outline"></span>
      </button>
      <button (click)="slideChange(-1, 'slider-1')" nzSize="large" nz-button nzShape="circle"
        class="custom-list-btn custom-list-left-btn">
        <span nz-icon nzType="left" nzTheme="outline"></span>
      </button>

      <div nz-col nzXs="14" nzSm="10" nzMd="7" nzLg="5" nzXl="4" class="custom-list-item"
        *ngFor="let listing of businessListings; index as i " routerLink="/reservation/{{listing.id}}">
        <nz-card [nzCover]="coverTemplate" nzHoverable="true">
          <nz-card-meta nzTitle="{{listing.outletName}}" nzDescription="{{ listing.address }}"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="{{listing.outletName}}" class="aspect-video object-cover"
            src="../../assets/images/restaurants-logos/restaurant-{{listing.id}}.jpg" />
        </ng-template>
      </div>
    </div>
  </section>

  <section class="p-6">
    <p class="text-xl inline-block font-medium border-b border-orange-600 pb-1">cuisines</p>

    <div nz-row class="custom-list-wrapper py-3 " nzGutter="16" id="slider-2">
      <button (click)="slideChange(1, 'slider-1')" nzSize="large" nz-button nzShape="circle"
        class="custom-list-btn custom-list-right-btn">
        <span nz-icon nzType="right" nzTheme="outline"></span>
      </button>
      <button (click)="slideChange(-1, 'slider-1')" nzSize="large" nz-button nzShape="circle"
        class="custom-list-btn custom-list-left-btn">
        <span nz-icon nzType="left" nzTheme="outline"></span>
      </button>

      <div nz-col nzXs="14" nzSm="10" nzMd="7" nzLg="5" nzXl="4" class="custom-list-item"
        *ngFor="let cuisine of cuisines; index as i ">
        <nz-card [nzCover]="coverTemplate" nzHoverable="true">
          <nz-card-meta nzTitle="{{cuisine.cuisine}}"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="{{cuisine.cuisine}}" class="aspect-video object-cover"
            src="../../assets/images/cuisine-logos/cuisine-{{cuisine.id}}.jpg" />
        </ng-template>
      </div>
    </div>
  </section>

  <div class="business-banner">
    <div class="business-content items-start">
      <h1>own a restaurant? join us</h1>
      <nz-divider class="bg-[#FDC827] text-lg"></nz-divider>
      <h2 class="font-normal text-lg">
        Looking to fill those empty seats, especially during those times when you're not as busy? We are a restaurant
        reservation platform which offers time-based discounts of up to 50% off, every day at all of its 4000+
        restaurants.
      </h2>
      <button class="mt-4" nz-button nzType="primary" [routerLink]="'/join-us'">join us</button>
    </div>
  </div>
</main>